body{
min-width: 700px;
}

h2{
    color: rgb(42, 32, 129);
}

#Nav{
    background: rgb(42, 32, 129);
    margin: 0px;
    padding: 0px 0px;
    min-width: 400px;
}


#butPrincipal{
    margin-left: 30px;
    height: 90px;
    max-width: 100%;
}

#navItems{
    /* top right bottom left */
    margin: 53px 0px 0px auto;
    font-size: 1.8rem; 
    
}

button{ 
    padding: 0px 25px;
    color: white;
    outline: none !important;
    background: none;
    border: none;
    
}

.linkSelect{
    /* color: rgb(7, 106, 255); */
    border-bottom: solid 5px rgb(255, 219, 60);
}

.linkHover{
    background-color: rgb(57, 45, 170);
}

#separador{
    height: 100px;
    background-color: rgba(23, 23, 23, 0.3);
}

.pagPrincipal{
    min-height: 500px;
    margin-bottom: 20px;
}

.imgPortada{
    max-height: 450px;
    max-width: 600px;
}

#pie{
    min-height: 100px;
    background-color: rgb(62, 62, 78);
    color: white;
    text-align: center;
    font-size: .5rem;
    
}

#logoColor{
    width: 150px;
    height: 50px;
    margin: 10px;
}

section{
    min-height: 500px;

}

.pieTitulo{
    font-size: 1.5rem;
    
    
}
.pieTexto{
    font-size: 1rem;
}

#pagContacto{
    background-color: blue;
}

.contactoTexto{
    width: 40%;
    height: 30%;
    float: inline-start;
    background-color: red;
}