body{
    margin: 0;
    padding: 0;
}

h2{
    color: rgb(42, 32, 129);
}

#Nav{
    background: rgb(42, 32, 129);
    margin: 0px;
    padding: 0px 0px;
    min-width: 400px;
}

#butPrincipal{
    margin-left: 30px;
    height: 90px;
    max-width: 350px;
}

#navItems{
    /* top right bottom left */
    margin: 53px 0px 0px auto;
    font-size: 1.8rem;    
}

button{ 
    padding: 0px 25px;
    color: white;
    outline: none !important;
    background: none;
    border: none;
}

.link:hover {
    background-color: rgb(57, 45, 170);
}

.linkSelect{
    border-bottom: solid 5px rgb(255, 219, 60);
}

.imgPortada{
    float: right;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 500px;
}


.row{
    height: 500px;
    width: 100%;
}

.col-md-7{
    padding: 0;
}
